 /* h1 {
	font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
 }

 p {
	font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 } */

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

.body {
	font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 18px;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.list_reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* AWARD BLOCK  */
.award {
	padding: 12px 0;
	background: #f5f5f5;
}

.award .container {
	position: relative;
	display: flex;
	justify-content: center;
}

.award__text {
	margin: 0;
	font-size: 15px;
	color: #4B5563;
}

.award__icon {
	position: absolute;
	right: -32px;
	cursor: pointer;
}

/* HEADER  */
.header {
	padding: 24px 0;
	background: #00353B;
	color: #fff;
}

/* NAVIGATION  */
.nav {

}

.nav__list {
	display: flex;
	gap: 24px;
}

.nav__item:not(:last-child) {
	/* margin-right: 24px; */
}

.nav__link {
	color: #fff;
	text-decoration: none;
}