 /* h1 {
	font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
 }

 p {
	font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 } */
/* GLOBAL */
 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

.body {
	font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
	font-size: 18px;
	line-height: 1.5;
	color: #4B5563;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}

.list_reset {
	list-style: none;
	margin: 0;
	padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* UI */
.btn {
	font-size: 16px;
	line-height: 1.5;
	padding: 13px 25px;
	border: none;
	border-radius: 8px;
	background: transparent;
	cursor: pointer;
	text-decoration: none;
}

.btn_success {	
	background: #22A45A;
	border: 1px solid #22A45A;
	color: #fff;
}

.btn_default {
	background: #1F2937;
	border: 1px solid #1F2937;
	color: #fff;
}

.bage {
	display: inline-block;
	padding: 4px 8px;
	margin-bottom: 11px;
	font-size: 14px;
	line-height: 21px;
	color: #1F2937;
	border-radius: 4px;
}

.bage_light {
	background: #fff;
}

.bage_dark {
	background: #fcd8ca;
}

.section {
	margin-bottom: 128px;
}

.section__title {
	font-size: 48px;
	line-height: 56px;
	margin-bottom: 28px;
	color: #1F2937;
}

.section__description {
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 40px;
}

/* AWARD BLOCK  */
.award {
	padding: 12px 0;
	background: #f5f5f5;
}

.award .container {
	position: relative;
	display: flex;
	justify-content: center;
}

.award__text {
	margin: 0;
	font-size: 15px;
	color: #4B5563;
}

.award__icon {
	position: absolute;
	right: -32px;
	cursor: pointer;
}

/* HEADER  */
.header {
	padding: 11px 0;
	background: #00353B;
	color: #fff;
}

.header .container {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* NAVIGATION  */
.nav__list {
	display: flex;
	align-items: center;
	gap: 24px;
}

.nav__link {
	display: flex;
	align-items: center;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	line-height: 1.5;
}

.user__nav {
	margin-left: auto;
}

.nav__icon {
	width: 19px;
	height: 29px;
	margin-right: 8px;
}

.btn_user {
	padding: 13px 24px;
	background: #fff;
	color: #1F2937;
}

/* HERO */
.hero {
	padding: 55px 0;
	background: #00353B;
	color: #fff;
}

.hero__wrapper {
	margin-bottom: 73px;
	display: flex;
	align-items: center;
	gap: 30px;
}

.hero__title {
	margin: 0 0 30px 0;
	font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
	font-size: 56px;
	line-height: 68px;
	color: #fff;
}

.hero__text {
	margin: 0 0 24px 0;
	font-size: 18px;
	line-height: 27px;
	color: #fff;
}

.hero__cta {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 48px;
}

.play {
	display: flex;
	align-items: center;
	gap: 6px;
	cursor: pointer;
}

.play__label {
	font-size: 16px;
	line-height: 16px;
}

.play__icon {
	width: 24px;
	height: 36px;
}

.hero__reviews {
	display: flex;
	align-items: center;
	gap: 16px;
}

.reviews__photo {
	width: 48px;
	height: 48px;
	border: 2px solid #fff;
}

.raiting {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.active-video {
	border-radius: 24px;
}

.hero__footer {
	font-size: 18px;
	text-align: center;
}


.about__wrapper {
	padding: 54px 256px;
	text-align: center;
	border-radius: 24px;
	background: #fcd8ca;
	margin-bottom: 160px;
}

/* Blog post */
.blog-post {
	display: flex;
	align-items: center;
	gap: 128px;
	margin-bottom: 128px;
}

.blog-post__content {
	flex-shrink: 1;
}

.blog-post__title {
	margin-bottom: 28px;
	font-size: 48px;
	line-height: 56px;
	color: #1f2937;
}

.blog-post__prew {
	margin-bottom: 40px;
	color: #4b5563;
}

.blog-post__footer {
	display: flex;
	align-items: center;
	gap: 16px;
	font-size: 16px;
}

.more {
	display: flex;
	align-items: center;
	position: relative;
	text-decoration: none;
	color: #111827;
}

.more::after {
	position: absolute;
	right: -30px;
	content: "";
	width: 24px;
	height: 36px;
	background: url('../img/chevron_right_icon.svg') center no-repeat;
}

.blog-post__img {
	border-radius: 24px;
}

.blog-post_even {
	flex-direction: row-reverse;
}

.section__descr {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.section__description {
	max-width: 730px;
	margin-bottom: 64px;
	text-align: center;
}

/* Courses cards*/
.card {
	border-radius: 16px;
}

.cards__list {
	display: flex;
	gap: 32px;
	list-style: none;
	padding: 0;
}

.popular__card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 32px 24px;
	justify-content: space-between;
	width: 405px;
	min-height: 500px;
	background: #00353B;
	overflow: hidden;
}

.popular__title {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 400;
	color: #fff;
}

.popular__price {
	color: #fff;
}

.popular__img {
	position: absolute;
	bottom: -20px;
	right: -100px;
	width: 315px;
	height: 315px;
	border-radius: 50%;
	overflow: hidden;
}

.popular__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}